{{!-- 这个页面是一个模板页面 --}}

<!--页头-->
<div class="ui-header">
    <div class="container">
        <div class="page-header">
            <h1>欢迎来到极客乐园 <small>Subtext for header</small></h1>
        </div>
    </div>
</div>
<!--/页头-->
