{{!-- 引入header.hbs 文件，作为全局的头部文件 --}}
{{> header}}

<div class="container">
    <div>
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th>图片</th>
                <th>id</th>
                <th>mark</th>
                <th>来源</th>
                <th>标题</th>
                <th>链接</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr>
                <td colspan="9">
                    <div class="clearfix ui-center-loading-box">
                        <div class="col-lg-10 ui-padding-0 ui-center-loading-txt"> 正在努力加载数据，请稍后......</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="page" id="J_PageBar">

    </div>
</div>
<!--结果模板-->
{{#pass}}
<script id='j-tmpl' type='text/x-jquery-tmpl'>
<tr>
<td>${result}</td>
<td>${Name}</td>
<td>${Name}</td>
<td>${Name}</td>
<td>${Name}</td>
</tr>
</script>
{{/pass}}


{{#extend "stylesheets"}}
    <link rel="stylesheet" href="/stylesheets/table.min.css">
    <link rel="stylesheet" href="/stylesheets/demo.css">
{{/extend}}

{{#extend "scripts"}}
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--必须的库文件-->
    <link rel="stylesheet" href="/javascripts/ajaxpage/ajaxpage.css">
    <script src="/javascripts/ajaxpage/ajaxpage.js"></script>
    <!--/必须的库文件-->

    <script src="/javascripts/jquery.tmpl.min.js"></script>

    <script>
        //document ready
        $(function () {
            //ajaxPage
            $("#tbody").ajaxPage({
                url: "/jokelist",
                data: {
                    "pno":1,
                    "ps":10
                },
                type: "post",
                dataType : "json",//数据类型为json
                pageId: $("#J_PageBar"),  //分页菜单容器
                run: true,
                success: function (res) {
                    console.log(res);

                    $.tmpl( $("#j-tmpl").html(),res).appendTo( "#tbody" );
//                    $("#tbody").html(html);
                    /*                if (res.success) {
                     //渲染数据

                     var html = $("#J_SearchTmpl").tmpl(res.obj);
                     $("#tbody").html(html);
                     } else {
                     alert(res.msg);
                     }*/
                }
            });
        });
    </script>
{{/extend}}
