<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!--stylesheets-->
    {{{block "stylesheets"}}}
    <!--/stylesheets-->
</head>
<body>
{{{body}}}

<!--scripts-->
{{{block "scripts"}}}
<!--/scripts-->
</body>
</html>
